/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */
 html {
  scroll-behavior: smooth;
}
 body, * {
  font-family: Montserrat;
}
.clearBoth{
  clear: both;;
}
.onlyMob{
  display: none !important;
}
.yellowstd{
  color: #FEBC29 !important;
}
.primaryBackground{
  background-color: var(--primaryBG);
}
.btnTransparent {
  color: black !important;
  background-color: #FEBC29;
  border: 1px solid rgba(86,119,186,.5);
  font-size: 1em !important;
  opacity: 1 !important;
  height: 53px;
  padding: 00px 53px !important;
  line-height: 53px !important;
  /* background: transparent; */
  /* color: white !important; */
  border: 1px solid #FEBC29;
  background-color: 5677BA;
}
.btnTransparent:hover {
  background-color: #5677BA !important;
  border: 1px solid black;
  font-size: 1.1em !important;
  box-shadow: 5px 5px 5px #3333;
  color: white   !important;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 100vh;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 80%;
  margin: auto;
  margin-top: 4%;
}
/* navigation */
img.navLogo {
  width: 229px;
}


/* banner */


div#index-banner {
  background-color: var(--primaryBG_3);
  height: 80vh;
}
.bannerDesc {
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  width: 60% !important;
}
a#banner-launch {
  margin-right: 14px;
}
.tranparentBGFull {
  /* background-color: var(--primaryBG_3) !important; */
  background-color: rgba(0,0,0,.7) !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
#webcoderskull {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 04%;
  left: 10%;
}
.btnbannerGrp{
  margin-top: 50px;
}

/* second section */
#secondSectionArea {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0px;
  left: 10%;
}
div#secondContainer {
  width: 100%;
  /* margin: auto !important; */
  padding-right: 0px !important;
  padding-top: 31px;
  height: 100vh;
  position: relative;
} 
.boldStrokeWord {
  font-size: 15vw;
  font-weight: 900;
  color: #141C24;
  text-shadow: 0px 0px 14px #febc29;
  -webkit-text-stroke-color: #FEBC29 !important;
  -webkit-text-stroke: 11px #fff;
  font-family: "Montserrat script=latin rev=2";
  letter-spacing: -23px;
  width: auto;
  float: left;
}
.boldStrokeSub {
  width: auto;
  float: left;
}
.boldStrokeWord span {
  color: #141C24;
  -webkit-animation: blink linear infinite 2s;
  animation: blink linear infinite 2s;
}
.boldStrokeSub {
  width: auto;
  float: left;
  /* color: #5677BA; */
  color:white;
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 146px;
  margin-left: 23px;
}
.secondSectionPara_p {
  color: white;
  line-height: 22px;
}
.secondSectionPara {
  width: 59%;
}
a#second-launch {
  background: transparent !important;
  color: rgba(254,188,41,1) !important;
  border: 1px solid rgba(254,188,41,1);
  margin: 23px 0px 23px 3px;
}
a#second-launch:hover{
  background-color: rgba(254,188,41,1) !important;
  color : black !important;
  font-size: inherit !important;
  font-weight: 600 !important;
}
.secondSectionPara_2{
  margin: 0px !important;
}
/* third section */
.thirdContainer{
  height: 100vh;
  position: relative
}
div#thirdContainer {
  width: 100%;
  /* margin: auto; */
  /* padding-right: 20%; */
  /* padding-top: 20px; */
  overflow: hidden;
  padding-left: 10%;
  background: rgba(16, 24, 32, .8);
  box-sizing: border-box;
  background: black;
  /* padding-right: 21% !important; */
}
.eachThirdSection {
  margin-bottom: 15px;
} 
.thirdHeading {
  font-size: 3vw;
  color: white;
  /* color:#5677BA; */
  margin-bottom: 25px;
  /* font-weight: 900; */
}
.thirdSectionDescWrap {
  width: 70%;
  margin-left: 20%;
  display: flex;
  gap: 28px;
}
.thirdSectionDescNum {
  font-size: 3vw;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 10px white;
  -webkit-text-stroke-color: white !important;
  -webkit-text-stroke: 3px #fff;
  font-family: "Montserrat script=latin rev=2";
  letter-spacing: -23px;
  width: auto;
  float: left;
  opacity: .2;
}
.thirdSectionDescP {
  color: white;
  padding-left: 49px;
}
.thordSectionBtnDiv{
  text-align: center;
  width: 87%;;
}
.eachThirdSectionBG {
  /* background: rgba(16, 24, 32, .8); */
  width: 90%;
  height: 100%;
  /* z-index: 4999; */
  position: absolute;
  padding-top: 50px;;
}
.horizondalLine{
  height: 2px;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.4);
}
.scrollDownIcon_3{
  left: 43% !important;
}

/* fourth section */
#fourthSection {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 38px;
  background: #101820;
  height: 100vh;
  position: relative;
  /* padding-top: 50px; */
} 
.BoldHeader_4 {
  text-align: center;
}
.boldStrokeWord_4 {
  text-shadow: none !important;
  -webkit-text-stroke-color: white !important;
  float: none;
  font-size: 10vw;
  letter-spacing: -12px;
}
.secondSectionPara_p_4 {
  margin-top: 20px;;
  text-align: center;
  margin-bottom: 50px;
}
.secondSectionPara {
  margin: auto;
  width: 76%;
  /* margin-bottom: 10px !important; */
}
a#fourth-launch {
  background: transparent;
  color: white !important;
}
a#fourth-launch:hover {
  background-color: #FEBC29 !important;
  color: black !important;
}
.scrollDownIcon_4{
  left: 49% !important;
}
.fourthSection_abs{
  position: absolute;
  top: 0px;
  left: 10%;
  width:80%;
  height: 100%;
  padding-top: 50px;
}

/* fifth section */
.fifthSection{
  height: 100vh;
  position: relative;
  background: black;
  overflow: hidden;
}
.fifthSection_abs {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 10%;
  width: 90%;
  color: white;
  padding-top: 50px;
}
.fifthSection_1_head {
  color: #FEBC29;
  font-size: 3vw;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.lefifthSection_1_left {
  width: 50%;
  text-align: left;
  margin-bottom: 48px;
}
.lefifthSection_1_right {
  width: 50%;
  text-align: right;
  margin-left: 40%;

}
p.fifthSection_1_p {
  line-height: 19px;
}



/* footer */
.footer {
  background: #101820;
  padding: 0 0 .5rem 0;
  position: relative;
  z-index: 0;
}
.footer-logo {
  text-align: center;
}
.footer--info svg {
  height: 30px;
  margin: 0 15px;
  opacity: 0.6;
  fill: #fff;
  -webkit-transition: all, 0.4s ease;
  transition: all, 0.4s ease;
  cursor: pointer;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.footer--info {
  font-size: 12px;
  color: #333a41;text-align: center;
}
.text-right {
  text-align: right !important;
}
.footer_a{
  color : #FEBC29 !important
}
span.changelanguage {
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
}
.footer--info svg:hover {
  color: white;
  fill: #5975b8;
}
#footer_container {
  width: 80% !important;
  margin: auto !important;
  padding: 0px !important;
  max-width: 80%;
  }
  .sixthSection {
    height: 70vh;
    background-size: contain;
    background-position: center;
}
.sixthSection_title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 200px;
  margin-bottom: 50px;
  font-size: 3vw;
  font-weight: 900;
  overflow: hidden;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 6%;
  }
  #index-banner .section {
    top: 0%;
  }
}

@media only screen and (max-width : 600px) {
  .onlyMob{
    display: inline-block !important;
  }
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
